/* Stylesheet for index.html */
* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}

#container {
    width: 50%;
    margin: 20px auto;
}


#top-bar {
    font-size: 36px;
    text-align: center;
}

a:link, a:visited, a:active{
    color: black;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    text-decoration: underline;
    transition: 0.2s;
    margin-bottom: 5px;
}

a:hover {
    color: #3e629c;
    text-decoration: none
}

#section {
    font-size: 18px;
    margin: 20px;
    margin-bottom: 0px;
}

#section-header {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.snippet {
    font-size: 18px;
    background: #f0f0f0;
    padding: 15px;
	margin: 5px;
    border-radius: 10px;
    font-family: Roboto-Mono, monospace;
}

code {
    background: #f0f0f0;
    padding: 3px 7px;
    border-radius: 3px;
    font-family: Roboto-Mono, monospace;
}

/* For mobile phones */
@media only screen and (max-width: 600px) {
    #container {
        width: 90%;
    }

    #top-bar {
        font-size: 24px;
    }

    a {
        font-size: 12px;
    }

    #section {
        font-size: 12px;
    }

    #section-header {
        font-size: 14px;
    }

    .snippet {
        font-size: 12px;
    }

}
